body {
    width:100%;
    height:100%;
    font-family: 'Fira Sans', sans-serif;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 60px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    padding-left:0px;
    width: 60px;
    height: 100%;
    margin-left: -250px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    height:100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2); /* color on hover*/
    border-left: 3px solid white;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 80px;
    padding-bottom: 20px;
    line-height: inherit;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;  /* color of brand on hover*/
    background: none;
}


.icon
{
    padding-left: 20px;
    padding-top:15px;
}
.glicon
{
    padding-left:10px;
    padding-bottom: 5px;
}
.mainicon
{
    padding-left:15px;
    padding-top:5px;
}
.nav-content
{
    padding-top:15px !important;
    margin-left: 10px;
}
.small-text
{
    font-size:10px;
    margin-left: 25px;
    color:white;
}
.large-text
{
    font-size:15px;
    font-weight:700;
    color: white;
    margin-top:25px;
}
.main-text
{
    font-size:20px;
    color:#ff6400;
    margin-left:30px;
}
.nav-bar
{
    width: 100% ;
    border: 1px solid #e6ecf1;
    height: 60px;
    background-color:white;
    border-left: 0px !important;
}
.GLTab
{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.searchIcon
{
    width: 4%;
    height: 100%;
    float:left;
    text-align: center;
    padding-top: 15px;
}
.searchbox
{
    width: 70%;
    height:100%;
    border:1px solid #e6ecf1;
    float:left;
}
input
{
    width:100%;
    height:100%;
    padding-left: 20px;
    border:0px !important;
}
.profile
{   
    width:18%;
    height: 100%;
    border-right:1px solid #e6ecf1;
    float:left;
}
.user-image
{
    width:40%;
    height:100%;
    float:left;
    text-align: center;
    padding-top:3px;
}
.img-circle {
    border-radius: 50%;
}
.user-dropdown
{
    width:60%;
    height:100%;
    float:left;
    text-align: left;
    padding-top:20px;
}
.notification
{
    width:4%;
    height:100%;
    border-right:1px solid #e6ecf1;
    float:left;
    text-align: center;
    padding-top: 15px;
}
.logout
{
    width:4%;
    float:left;
    font-size: 16px;
    text-align: center;
    padding-top:20px;
    color:red;
}
.box
{
    float: left;
    width: 29%;
    position: relative;
    height: 40%; 
    border: 1px solid #e6ecf1;
    margin:15px;
    background-color: white;
    border-radius: 5px;
}
.box-heading
{
    padding-top: 15px;
    text-align: center;
    width: 40%;
    height:15%;
    margin: 0 10% 0 30%;
    top:0;
    border-bottom: 3px solid #ff6400;  
    position: relative;
}
.box-footer
{
    width: 100%;
    bottom:0;
    height: 15%;
    padding: 10px 150px 10px 150px;
    border-top: 1px solid #e6ecf1;
}
.footer-spl
{
    padding:1% 43% 1% 43% !important;
}
.box-content
{
    width: 100%;
    height: 70%;
    border-top:1px solid #e6ecf1;
}
.box-col-2
{
   width: 61.9% !important;
   height:40% !important;
}
.link
{
    color:#ff6400;
}
.chart-select
{
    width: 20%;
    float:left;
    height:100%;
    border-right: 1px solid #e6ecf1;
}
.chart-select-nav 
{
    height:auto;
    width:100%;
    margin-top:50%;
    padding:0;
    list-style: none;
}
.chart-select-nav li
{
    height: 40px; 
    padding-left:10px;
    padding-top:10px;
    font-weight: 700 !important;
    border-top: 1px solid #e6ecf1;
}
.chart-select-nav li:hover
{
    background-color:#ff6400;
    color:white;
    border:1px solid #e6ecf1;
}
.last-tab
{
    border-bottom: 1px solid #e6ecf1;
}
.chart-view
{
    width:100%;
    height:100%;
}
.chart-box
{
    width:80%;
    float:left;
    height:100%;
}
.piechart
{
    height:100%;
    width:100%;
    padding:20px;
}
.barchart
{
    height:100%;
    width:100%;
    padding:5% 10% 5% 10%;
}
.maincontainer
{
    height:100%;
    width:100%;
    padding:15px;
    background-color:#f7f8f9;
}

@media(min-width:768px) {
    
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        width: 60px;
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 60px;
        background-color: #ff6400;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content
    {
        position:absolute;
    }
    #page-content-wrapper {
        position: relative;
        width:100%;
        padding-left:60px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: absolute !important;
        padding-left:0px;
        overflow-x: hidden;
        background-color:#f7f8f9;
        height:100%;
        width:100%;
        margin-right: 0;
    }
}
