body,html{
    height: 100%;
}
.header
{
    height:100px;
}
.icon{
    color:white;
    font-size:16px;
    vertical-align: middle;
}
/* remove outer padding */
.main .row{
    padding: 0px;
    margin: 0px;
}

/*Remove rounded coners*/
nav.sidebar.navbar {
    border-radius: 0px;
    background-color: orangered;
}

nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/

/*small/medium side display*/
@media (min-width: 768px) {

/*Allow main to be next to Nav*/
.main{
    position: absolute;
    width: calc(100% - 40px); /*keeps 100% minus nav size*/
    height: 100%;
    margin-left: 40px;
    float: right;
}

/*lets nav bar to be showed on mouseover*/
nav.sidebar:hover + .main{
    margin-left: 200px;
}

/*Center Brand*/
nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    background-color: orangered;
}
/*Center Brand*/
nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
}

/*Center Icons*/
nav.sidebar a{
    padding-right: 13px;
}
    
/*adds border to bottom nav boxes*/
nav.sidebar .navbar-nav > li{
    border-bottom: 1px #ebebeb solid;
}

/*allows nav box to use 100% width*/
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
}

/*gives sidebar width/height*/
nav.sidebar{
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
}
.navbar-inverse .navbar-nav>li>a {
    color: white !important;
}
/*give sidebar 100% width;*/
nav.sidebar li {
    width: 100%;
    height: 60px;
}

/* Move nav to full on mouse over*/
nav.sidebar:hover{
    margin-left: 0px;
}
/*for hiden things when navbar hidden*/
.forAnimate{
    opacity: 0;
}
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
color: white;
background-color: transparent;
}

nav:hover .forAnimate{
opacity: 1;
}
section{
padding-left: 15px;
}


/* Header of application  */
.nav-app
{
    width: 100%;
    border: 1px solid #eeeff0;
    height: 60px;
    background-color:white;
    border-left: 0px !important;
}

.text
{
    color:white;
    font-size: 16px;
}
.small-text
{
   font-size:10px;
}
.nav-content
{
   margin-left:10px;
}
.main-navigationtab
{
    height: 80px !important;
    border: 0px !important;
}
.searchIcon
{
    width: 4%;
    height: 100%;
    text-align: center;
    padding-top:20px;
    color:red;
    font-size: large;
    float:left
}
.searchbox
{
    width: 70%;
    height:100%;
    border-bottom: 0px !important;
    float:left;
    font-size: 16px;
    border: 1px solid #eeeff0;
    padding-left: 15px;
}
.notifications
{
    width:4%;
    height:100%;
    border-right: 1px solid #eeeff0;
    float:left;
    font-size: large;
    text-align: center;
    padding-top:20px;
    color:red;
}
.profile
{
    width:18%;
    height: 100%;
    border-right:1px solid #eeeff0;
    float:left;
}
.user-image
{
    width:40%;
    height:100%;
    float:left;
    text-align: center;
    padding-top:3px;
}
.img-circle {
    border-radius: 50%;
}
.user-dropdown
{
    width:60%;
    height:100%;
    float:left;
    text-align: left;
    padding-top:20px;
}

.logout
{
    width:4%;
    float:left;
    font-size: 16px;
    text-align: center;
    padding-top:20px;
    color:red;
}
.main-content
{
    background-color: #f7f8f9;
    padding:15px;
    width:100%;
    height: 100% !important;
}
.box
{
    float: left;
    width: 30%;
    height: 40%; 
    border: 1px solid #eeeff0;
    margin:15px;
    background-color: white;
    border-radius: 5px;
}
.box-heading
{
    padding-top: 15px;
    text-align: center;
    width: 40%;
    height:15%;
    margin: 0 10% 0 30%;
    border-bottom: 3px solid #557cb2;  
}
.box-footer
{
    width: 100%;
    height: 15%;
    padding-top:15px;
    border-top: 1px solid #eeeff0;
}
.box-content
{
    width: 100%;
    height: 70%;
    border-top:1px solid #eeeff0;
}
.box-col-2
{
   width: 63% !important;
}
.chartbox
{
    height: 100%;
    width: 100%;   
}