<div class="main-text">
        BAND WISE 
</div>   
    <div class="box" ng-controller="BandWiseController">
        <div class="box-heading">
            <center><b>INDIA</b></center>
        </div>
        <div class="box-content">
           <div class="chart-view">
             <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
             <div class="band-box">
                <select ng-model="selectedBand" ng-change ="selectedBandValue(selectedBand)" ng-options="x for x in bands">
                    <option value="">Band X</option>
                </select>
             </div>
            <div class="chart-view-bandwise">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixDaysData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixWeeksData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixMonthsData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
        <div class="box-footer">
            <center><b><a href="" class="link">DETAILS ></a></b></center>
        </div>
    </div>
    <div class="box" ng-controller="NoidaStageBandWise">
        <div class="box-heading">
            <center><b>NOIDA</b></center>
        </div>
        <div class="box-content">
             <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
             <div class="band-box">
                <select ng-model="selectedBand" ng-change ="selectedBandValue(selectedBand)" ng-options="x for x in bands">
                    <option value="">Band X</option>
                </select>
             </div>
            <div class="chart-view-bandwise">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixDaysData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixWeeksData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixMonthsData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="box-footer">
            <center><b><a href="" class="link">DETAILS > </a></b></center>
        </div>
    </div>
    <div class="box" ng-controller="GurgaonStageBandWise">
        <div class="box-heading">
            <center><b>GURGAON</b></center>
        </div>
        <div class="box-content">
             <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
             <div class="band-box">
                <select ng-model="selectedBand" ng-change ="selectedBandValue(selectedBand)" ng-options="x for x in bands">
                    <option value="">Band X</option>
                </select>
             </div>
            <div class="chart-view-bandwise">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixDaysData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixWeeksData" chart-labels="labels" chart-options="ragOptions" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixMonthsData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="box-footer">
            <center><b><a href="" class="link">DETAILS > </a></b></center>
        </div>
    </div>
    <div class="box" ng-controller="NagpurStageBandWise">
        <div class="box-heading">
            <center><b>NAGPUR</b></center>
        </div>
        <div class="box-content">
             <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
             <div class="band-box">
                <select ng-model="selectedBand" ng-change ="selectedBandValue(selectedBand)" ng-options="x for x in bands">
                    <option value="">Band X</option>
                </select>
             </div>
            <div class="chart-view-bandwise">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixDaysData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixWeeksData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixMonthsData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="box-footer">
            <center><b><a href="" class="link">DETAILS > </a></b></center>
        </div>
    </div>
    <div class="box" ng-controller="ChennaiStageBandWise">
        <div class="box-heading">
            <center><b>CHENNAI</b></center>
        </div>
        <div class="box-content">
            <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
             <div class="band-box">
                <select ng-model="selectedBand" ng-change ="selectedBandValue(selectedBand)" ng-options="x for x in bands">
                    <option value="">Band X</option>
                </select>
             </div>
            <div class="chart-view-bandwise">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixDaysData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixWeeksData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixMonthsData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="box-footer">
            <center><b><a href="" class="link">DETAILS > </a></b></center>
        </div>
    </div>
    <div class="box" ng-controller="BangaloreStageBandWise">
        <div class="box-heading">
            <center><b>BANGALORE</b></center>
        </div>
        <div class="box-content">
             <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
             <div class="band-box">
                <select ng-model="selectedBand" ng-change ="selectedBandValue(selectedBand)" ng-options="x for x in bands">
                    <option value="">Band X</option>
                </select>
             </div>
            <div class="chart-view-bandwise">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas   id="bar" class="chart chart-horizontal-bar" chart-data="sixDaysData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixWeeksData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas  id="bar" class="chart chart-horizontal-bar" chart-data="sixMonthsData" chart-labels="labels" chart-options="options" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="box-footer">
            <center><b><a href="" class="link">DETAILS > </a></b></center>
        </div>
    </div>

