<div>
    <div class="main-content">
        <div ng-if="value === 1 || value === 0">
            <dashboard-page></dashboard-page>
        </div>    
        <div ng-if="value === 2">
            <response-page></response-page>
        </div>
        <div ng-if="value === 3">
            <stage-wise></stage-wise>
        </div>
        <div ng-if="value === 4">
            <stake-holder></stake-holder>
        </div>
        <div ng-if="value === 5" >
            <band-wise></band-wise>
        </div>
        <div  ng-if="value === 6">
            <rag-status></rag-status>
        </div>    
    </div>
</div>
