<html >
<head>

  <!-- CSS Libraries --> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom CSS --> 
  <link rel="stylesheet" href="../css/myStyle.css">

  <!-- JS Libraries --> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.3.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="../js/angularcharts/angular-chart.min.js"></script>     
       
  
  <!-- Custom JS --> 
  <script src="../js/jQuery/myScript.js"></script> 
  <script src="../js/angular/moduleDeclaration.js"></script> 
  <script src="../js/angular/routers.js"></script> 
  <script src="../js/angular/controllers.js"></script> 
  <script src="../js/angular/services.js"></script> 
  <script src="../js/angular/directives.js"></script> 
  <script src="../js/angular/filters.js"></script> 
  

</head>

<body ng-app="myApp" ng-controller="myCtrl">

<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="main-navigationtab">
                    <a href="">
                    <span class="nav-content"> TRIPLE 6 RAG
                        <br><span class="small-text">Manangement Dashboard</span></span>
                    <span  class="pull-right icon hidden-xs showopacity glyphicon glyphicon-home"></span></a>
                </li>
				<li ng-click="setbuttonId(1)">
                    <a href="">
                    <span class="nav-content">Dashboard</span>
                    <span  class="pull-right icon hidden-xs showopacity glyphicon glyphicon-align-justify"></span></a></li>
				<li ng-click="setbuttonId(2)">
                    <a href="">
                    <span class="nav-content"> Response</span>
                    <span  class="pull-right icon hidden-xs showopacity glyphicon glyphicon-record"></span></a>
                </li>
				<li ng-click="setbuttonId(3)">
                    <a href="">
                    <span class="nav-content"> Stage</span>
                    <span  class="pull-right icon hidden-xs showopacity glyphicon glyphicon-map-marker"></span></a>   
                </li>
				<li ng-click="setbuttonId(4)">
                    <a href="">
                    <span class="nav-content"> StakeHolder</span>
                    <span class="pull-right icon hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                </li>
				<li ng-click="setbuttonId(5)">
                    <a href="">
                    <span class="nav-content"> Band</span>
                    <span  class="pull-right icon hidden-xs showopacity glyphicon glyphicon-eye-open"></span></a>
                </li>
				<li ng-click="setbuttonId(6)">
                    <a href="">
                    <span class="nav-content"> % OF RAG</span>
                    <span  class="pull-right icon hidden-xs showopacity glyphicon glyphicon-envelope"></span></a>
                </li>
			</ul>
		</div>
	</div>
</nav>
<div class="main">
<!-- Content Here -->
    <div class="nav-app">
        <div class="searchIcon">
            <span class="glyphicon glyphicon-search"></span>
        </div>
        <div>
            <input type="text" placeholder=" Search for Project and Professionals" class="searchbox">
        </div>
        <div class="notifications">
            <span class="glyphicon glyphicon-bell"></span>
        </div>
        <div class="profile">
            <div class="user-image">
                <img src="./../img/image.jpg" class="img-circle">
            </div>
            <div class="user-dropdown ">
                 USER NAME <span class="caret"></span>
            </div>
        </div>
        <div class="logout">
            <span class="glyphicon glyphicon-log-out"></span>
        </div>
    </div>
      
    <!-- Main Application charts-->
    <div ng-controller="chartsCtrl"> 
            <ng-view></ng-view>
    </div>
</div> 
 

</body>
</html>