<div class="main-text">
    STAGE WISE
</div>
<div class="box" ng-controller="StageWiseController">
    <div class="box-heading">
        <center><b>INDIA</b></center>
    </div>
    <div class="box-content">
        <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
            <div class="chart-view">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixDaysData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixWeeksData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixMonthsData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <center><b><a href="" class="link">DETAILS ></a></b></center>
    </div>
</div>
<div class="box" ng-controller="NoidaStage">
    <div class="box-heading">
        <center><b>NOIDA</b></center>
    </div>
    <div class="box-content">
        <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
            <div class="chart-view">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixDaysData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixWeeksData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixMonthsData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <center><b><a href="" class="link">DETAILS ></a></b></center>
    </div>
</div>
<div class="box" ng-controller="GurgaonStage">
    <div class="box-heading">
        <center><b>GURGAON</b></center>
    </div>
    <div class="box-content">
        <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
            <div class="chart-view">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixDaysData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixWeeksData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixMonthsData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <center><b><a href="" class="link">DETAILS ></a></b></center>
    </div>
</div>
<div class="box" ng-controller="NagpurStage">
    <div class="box-heading">
        <center><b>NAGPUR</b></center>
    </div>
    <div class="box-content">
        <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
            <div class="chart-view">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixDaysData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixWeeksData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixMonthsData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <center><b><a href="" class="link">DETAILS ></a></b></center>
    </div>
</div>
<div class="box" ng-controller="ChennaiStage">
    <div class="box-heading">
        <center><b>CHENNAI</b></center>
    </div>
    <div class="box-content">
        <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
            <div class="chart-view">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixDaysData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixWeeksData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixMonthsData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <center><b><a href="" class="link">DETAILS ></a></b></center>
    </div>
</div>
<div class="box" ng-controller="BangaloreStage">
    <div class="box-heading">
        <center><b>BANGALORE</b></center>
    </div>
    <div class="box-content">
        <div class="chart-select">
            <ul class="chart-select-nav">
                <li  ng-click="settabId(1)">6 Day's</li>
                <li  ng-click="settabId(2)">6 Weeks</li>
                <li class="last-tab" ng-click="settabId(3)">6 Months</li>
            </ul>
        </div>
        <div class="chart-box">
            <div class="chart-view">
               <div ng-if = "tab_val === 1 || tab_val === 0"> 
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixDaysData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
               </div>
                <div  ng-if = "tab_val === 2">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixWeeksData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div  ng-if = "tab_val === 3 ">
                    <div class="chart-view">
                        <div class="piechart">
                            <canvas id="pie" class="chart chart-pie" chart-data="sixMonthsData" chart-labels="labels" height="auto" width="auto">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <center><b><a href="" class="link">DETAILS ></a></b></center>
    </div>
</div>

